.select-wrapper {
  width: 180px;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  select {
    width: 180px;
    height: 32px;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}