.card {
  width: 780px;
  background: #f8f8f8;
  border-left: 6px solid #CCCCCC;
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      font-weight: normal;
    }
  }
  .body {
    display: flex;
    font-size: 1.5rem;
    .description {
      white-space: pre-line;
      width: 540px;
    }
    .options {
      width: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1.5rem;
      border-left: 1px solid #CCCCCC;
      .button {
        width: 190px;
        height: 32px;
        border-radius: 3px;
        background: #2FCB5A;
        border: none;
        color: #f8f8f8;
        font-size: 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}