.checkbox-wrapper {
  width: 180px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  label {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
  }
}